
<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:layout_marginRight="21dp"
    android:orientation="vertical" >

    <ScrollView
        android:layout_width="fill_parent"
        android:layout_height="fill_parent" >

        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:layout_marginRight="50dp"
            android:orientation="vertical" >

            <TextView
                android:id="@+id/textView2"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_gravity="center_horizontal"
                android:paddingTop="20sp"
                android:text="@string/varSetorCaldeira"
                android:textSize="20sp"  />

            <TextView
                android:id="@+id/textView3"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_gravity="center_horizontal"
                android:paddingBottom="20sp"
                android:text="@string/varAvaliacao"
                android:textSize="15sp" />

            <LinearLayout
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:orientation="horizontal" >

                <TextView
                    android:id="@string/TvSupervisorio"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:layout_marginRight="23dp"
                    android:padding="5sp"
                    android:text="@string/varSupCal" />

                <EditText
                    android:id="@+id/edSupervisorio"
                    android:layout_width="74dp"
                    android:layout_height="40dp"
                    android:layout_margin="7sp"
                    android:layout_marginRight="21dp"
                    android:ems="10" >

                    <requestFocus />
                </EditText>
            </LinearLayout>

            <LinearLayout
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:orientation="horizontal" >

                <TextView
                    android:id="@+id/textView1"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:layout_marginLeft="5dp"
                    android:layout_marginRight="21dp"
                    android:paddingRight="30dp"
                    android:text="@string/varbanCal" />

                <EditText
                    android:id="@+id/edBanheiro"
                    android:layout_width="74dp"
                    android:layout_height="40dp"
                    android:layout_margin="7sp"
                    android:layout_marginRight="20dp"
                    android:ems="10" />
            </LinearLayout>

            <LinearLayout
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:orientation="horizontal" >

                <TextView
                    android:id="@+id/textView1"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:layout_marginRight="3dp"
                    android:padding="5sp"
                    android:text="@string/varCampCal" />

                <EditText
                    android:id="@+id/edCampoCaldeira"
                    android:layout_width="74dp"
                    android:layout_height="40dp"
                    android:layout_margin="7sp"
                    android:ems="10" />
            </LinearLayout>

            <LinearLayout
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:orientation="horizontal" >

                <TextView
                    android:id="@+id/textView1"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:layout_marginRight="51dp"
                    android:padding="5sp"
                    android:text="@string/varGerador" />

                <EditText
                    android:id="@+id/edGerador"
                    android:layout_width="74dp"
                    android:layout_height="40dp"
                    android:layout_margin="7sp"
                    android:layout_marginRight="30dp"
                    android:ems="10" />
            </LinearLayout>

            <LinearLayout
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:orientation="horizontal" >

                <TextView
                    android:id="@+id/textView1"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:layout_marginRight="3dp"
                    android:padding="5sp"
                    android:text="@string/varCampGer" />

                <EditText
                    android:id="@+id/edCampoGerador"
                    android:layout_width="74dp"
                    android:layout_height="40dp"
                    android:layout_margin="7sp"
                    android:ems="10" />
            </LinearLayout>

            <TextView
                android:id="@+id/textView1"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:padding="5sp"
                android:text="@string/varInvisivel"
                android:visibility="invisible" />

            <Button
                android:id="@+id/btnCamera"
                android:layout_width="wrap_content"
                android:layout_height="35dp"
                android:text="Camera" />

            <Button
                android:id="@+id/btnCadastrarCampo"
                android:layout_width="wrap_content"
                android:layout_height="35dp"
                android:text="Cadastrar Campo" />

            <Button
                android:id="@+id/btnInformacao"
                android:layout_width="wrap_content"
                android:layout_height="35dp"
                android:text="Informações" />

            <Button
                android:id="@+id/btnEditar"
                android:layout_width="wrap_content"
                android:layout_height="35dp"
                android:text="Editar" />

            <Button
                android:id="@+id/btnMenuPrincipal"
                android:layout_width="wrap_content"
                android:layout_height="35dp"
                android:text="Menu principal" />

            <Button
                android:id="@+id/btnSalvar"
                android:layout_width="wrap_content"
                android:layout_height="35dp"
                android:text="Salvar" />

            <EditText
                android:id="@+id/tResult"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:layout_marginLeft="15dp"
                android:layout_marginTop="25dp" />
        </LinearLayout>
    </ScrollView>

</LinearLayout>


   






MENU PRINCIPAL

package com.br.mvh;l



import android.app.Activity;
import android.content.Intent;
import android.os.Bundle;
import android.view.View;




public class Main_tela extends Activity {
	
	
	public void onCreate(Bundle savedInstanceState){
		super.onCreate(savedInstanceState);
		setContentView(R.layout.menuprincipal);
	
	}
	
	public void abriSetorCaldeira(View v){
		Intent i = new Intent();
		i.setClass(this,Caldeira.class);
		startActivity(i);
		
	}
	
	public void abriSetorMoenda(View v){
		Intent i = new Intent();
		i.setClass(this,Moenda.class);
		startActivity(i);
	
	}
	
	public void abriSetorFabrica(View v){
		Intent i = new Intent();
		i.setClass(this,Fabrica.class);
		startActivity(i);
	
	}
	
	public void abrirCadastrar(View v){
		Intent i = new Intent();
		i.setClass(this,Cadastrar.class);
		startActivity(i);
	
	}
	
}
	
	

	
TELA CALDEIRA 

package com.br.mvh;


import java.io.File;

import android.app.Activity;
import android.app.AlertDialog;
import android.app.Dialog;
import android.content.Intent;
import android.net.Uri;
import android.os.Bundle;
import android.os.Environment;
import android.provider.MediaStore;
import android.view.View;
import android.widget.Button;
import android.widget.EditText;
import android.widget.ImageView;


public class Caldeira extends Activity {
	
	
	 private Button media, foto;
	 private EditText Res;
	 private EditText supervisorio;
	 private EditText banheiro;
	 private EditText campocaldeira;
	 private EditText gerador;
	 private EditText campogerador;
	 ImageView iv;
     
	@Override
	public void onCreate(Bundle savedInstanceState) {
		super.onCreate(savedInstanceState);
		setContentView(R.layout.tela2caldeira);
	 
	 
     foto = (Button) findViewById(R.id.btnCamera);
	 supervisorio = (EditText) findViewById(R.id.edSupervisorio);
	 banheiro = (EditText) findViewById(R.id.edBanheiro);
	 campocaldeira = (EditText) findViewById(R.id.edCampoCaldeira);
	 gerador = (EditText) findViewById(R.id.edGerador);
	 campogerador = (EditText) findViewById(R.id.edCampoGerador);
	 media = (Button) findViewById(R.id.btnSalvar);
	 Res = (EditText) findViewById(R.id.tResult);
	 
	 media.setOnClickListener(new View.OnClickListener() {
		 
	
		   public void onClick(View v) {
			 double n1, n2, n3, n4,n5; 
		   
		    n1 = Double.parseDouble(supervisorio.getText().toString());
		    n2 = Double.parseDouble(banheiro.getText().toString());
		    n3 = Double.parseDouble(campocaldeira.getText().toString());
		    n4 = Double.parseDouble(gerador.getText().toString());
		    n5 = Double.parseDouble(campogerador.getText().toString());
		     
		    
		   
		    	if(n1==0){
		    		AlertDialog.Builder caixaAlerta = 
		    		new AlertDialog.Builder(Caldeira.this);
		    		caixaAlerta.setMessage("Insira uma valor o campo está vazio");
		    		caixaAlerta.show();
		    	}
		    	
		    
		    double soma = (n1+n2+n3+n4+n5)/5;
		    
		    Res.setText(String.valueOf(soma));
		
	
	  }
 
	 });
	 
	    foto.setOnClickListener (new View.OnClickListener() {
			
			

		 public void onClick(View arg0){
		 Intent intent = new Intent (MediaStore.ACTION_IMAGE_CAPTURE);

		 startActivity(intent);
		 
		 String arquivo = Environment.getExternalStorageDirectory() + "/" + System.currentTimeMillis() + ".jpg";

		 File file = new File(arquivo);

		 Uri outputFileUri = Uri.fromFile( file);

		 intent.putExtra(MediaStore.EXTRA_OUTPUT, outputFileUri);
		 }
		 });
		}
	 
	}

	

	 

	
	
	

	
		







